<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <link rel="stylesheet" href="../../static/css/variables.css">
    <link rel="stylesheet" href="../../static/css/standard.css">
    <link rel="stylesheet" href="../../static/css/dashboard/sidebar.css">

    <%- include('../../font') %>

</head>
<body>
    <div class = "main_sidebar_con">
        <div class = "side_bar_padding_con">
            <div style="height: 20px;"></div>
            <div class = "links_con">
                <a id = "home_dyna" class = "link_a" href="/dashboard">
                    <div class = "link_icon_con">
                        <%- include('../../../static/rsc/icons/home') %>
                    </div>
                    <p class = "small_text">Hjem</p>
                </a>
                <a id = "users_dyna" class = "link_a" href="/dashboard">
                    <div class = "link_icon_con">
                        <%- include('../../../static/rsc/icons/users') %>
                    </div>
                    <p class = "small_text">Alle elever/lærere</p>
                </a>
                <a id = "rooms_dyna" class = "link_a" href="/dashboard/rooms">
                    <div class = "link_icon_con">
                        <%- include('../../../static/rsc/icons/door') %>
                    </div>
                    <p class = "small_text">Oppfør rom</p>
                </a>
                <a id = "subject_dyna" class = "link_a" href="/dashboard/subjects">
                    <div class = "link_icon_con">
                        <%- include('../../../static/rsc/icons/pen') %>
                    </div>
                    <p class = "small_text">Tilgjengelige fag</p>
                </a>

                <p class = "sidebar_small_text">Meg</p>
                <form action="/account/logout" method="POST">
                    <button id = "logout_btn" class = "link_a" type="submit">
                        <div class = "link_icon_con">
                            <%- include('../../../static/rsc/icons/logout') %>
                        </div>
                        <p class = "small_text">Logg ut</p>
                    </button>
                </form>


            </div>

        </div>

    </div>
</body>
</html>
